@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: "Poppins", sans-serif;
  @apply text-[16px] font-normal bg-white text-black;
}

input,
textarea,
button {
  @apply outline-none;
}
